<nav class="navbar shadow-sm navbar-expand-lg navbar-light bg-white px-2">
  <div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center">
      <!-- <img class="navbar-brand"  href="../../../../assets/logo-optimum.png" /> -->
      <img src="../../../../assets/logo-optimum.png" alt="" />

      <div class="mx-1">
        <h4 class="fs-6 mb-0">بوابه المورد</h4>
        <p class="mb-0">مرحباً مورد المكتبات المتحدة</p>
      </div>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <i class="fa-solid fa-robot"></i>
            AI
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <i class="fa-regular fa-comment"></i> شات
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <i class="fa-solid fa-users-line"></i> فريق
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link btn logout-btn active"
            aria-current="page"
            href="#"
          >
            <i class="fa-solid fa-arrow-right-from-bracket my-0 py-0"></i>

            <p class="my-0 py-0 me-2">تسجيل الخروج</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
