.login-page {
  background: #fce9d9; /* سيموني */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 18px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);
  text-align: right;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 18px;
  outline: none;
  font-size: 15px;

  &:focus {
    border-color: #ff7f50;
  }
}

.login-btn {
  width: 100%;
  background: #ff5050; /* كورال سيموني */
  border: none;
  padding: 8px 0;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  margin-top: 8px;
  transition: 0.2s;

  &:hover {
    background: #fb2828;
  }
}
