.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-container {
  background: white;
  width: 60%;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 16px;
  padding: 20px;
  direction: rtl;
}

.modal-header {
  text-align: right;
  margin-bottom: 20px;
}

.tabs {
  background: #eee;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 20px;

  button {
    flex: 1;
    padding: 4 10px;
    border: none;
    background: #eee;
    font-size: 16px;
    cursor: pointer;

    &.active {
      background: #ffffff;
      border-radius: 50px;
      padding-bottom: 2px;
      //   border-bottom: 3px solid #425df3;
    }
  }
}

.content-section {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.textarea {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  resize: none;
}

.counter {
  margin-top: 5px;
  font-size: 14px;
  color: gray;
}

.tips-box {
  background: #e7f0ff;
  padding: 15px;
  border-radius: 8px;
  margin-top: 15px;
  text-align: end;

  .tips-title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  li {
    font-size: 15px;
    margin-bottom: 5px;
  }
}

.submit-btn {
  width: 100%;
  background: #e60000;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.security-msg {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: gray;
}

/* Voice */
.voice-section {
  text-align: center;

  .mic-icon {
    font-size: 40px;
    color: #d9534f;
    background-color: white;
    // box-shadow: inset;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin:  auto;
    margin-bottom: 20px;
  }

  .record-btn {
    background: #d9534f;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }

  audio {
    margin-top: 15px;
    width: 100%;
  }
}

// /* Upload Box */
// .upload-box {
//   border: 2px dashed #bbb;
//   padding: 40px;
//   text-align: center;
//   border-radius: 10px;
//   cursor: pointer;
//   background: #fafafa;

//   input[type="file"] {
//     opacity: 0;
//     width: 100%;
//     height: 100%;
//     cursor: pointer;
//   }
// }

.file-list {
  margin-top: 15px;

  p {
    background: #f1f1f1;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 5px;
  }
}

.upload-box {
  width: 100%;
  height: 250px;
  border: 2px dashed #999;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in;

  input[type="file"] {
    position: absolute;
    inset: 0; // ← top:0, right:0, bottom:0, left:0
    width: 100%;
    height: 100%;
    opacity: 0; // ← يخليه شفاف
    cursor: pointer;
  }

  &:hover {
    border: 2px dashed #fa0f0f;
    background-color: #ffefec;
  }
}
